---
layout: page
title:  'Past Mentors and Project Descriptions'
skip_title: true
---


<br>

<div>
  <ul>
    {% assign grouped_years = site.archive | group_by: 'year' %}
    {% assign sorted_years = grouped_years | sort: 'name' | reverse %}
    {% for year in sorted_years %}

      {% assign sorted_quarters = year.items | sort: 'quarter' %}
      {% for quarter in sorted_quarters %}
        <li>
          <a href="{{ site.url }}/{{ quarter.url }}" class="title">
            {{ quarter.year }} {{ quarter.quarter }}
          </a>
        </li>
        </p>
      {% endfor %}

    {% endfor %}
  </ul>
</div>