<head>
    <meta charset="utf-8">
    <meta name="keywords" content="DRP,
    Directed Reading Program,
     uw statistics,
   uw,
   statistics,
    statistics and probability association,
     university of washington,
     anna neufeld,
     emily flanagan,
     undergraduate research">
    <title>{{ site.title }}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
    <link href="{{ site.path }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.path }}/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.path }}/js/bootstrap.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-113521888-1');
    </script>

 </head>